<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="shortcut icon" href="../img/Ricky Headshot.JPG" type="image/x-icon">
    <link rel="stylesheet" href="../css/BLOG.css">
    <script src="../js/BLOG.js" defer></script>
    
    
</head>

<body>
    <h1>Blog</h1>
    <Nav>
        <span><a href="../index.html">Homepage</a></span>
        <span><a href="../html/my_resume.html">My Resume</a></span>
        <span><a href="../html/my_fun_facts.html">Fun Facts</a></span>
        <span><a href="./BLOG.html">Blog</a></span>
        <span><a href="../views/Trivia.html">Trivia</a></span>
    </Nav>

    <header>
        <h3>Detroit Lions Article</h3>
    </header>

    <main>
        <article>
            <iframe src="https://www.detroitlions.com/news/twentyman-lions-should-look-to-hockenson-to-help-solve-red-zone-issues">Lions Article</iframe>
            <h4>My Opinion</h4>
            <p>I wish the Detroit Lions could have one good season. I love watching football and every Sunday they break my heart. I'm not sure why I even bother watching anymore, they just continue to make horrible mistakes. Dan Cambell is a good coach in my opinion, but our players stink and have no talent on the roster. I am doubtful they will ever win a Super Bowl within my lifetime. </p>
        </article>
    </main>

    <section id="commentSection">
        <section id=commentContainer></section>>
        <br>
        <input id="inputBox" type="text" placeholder="Enter Comment"></input>
        <br>
        <button id="postComment">Add/Leave A Comment</button>
    </section>


    <hr>
    <footer>
        <p>Rick Dymond, Email: rdymond@oakland.edu</p>
    </footer>
</body>
</html>