<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 2</title>
    <link rel="shortcut icon" href="../img/Ricky Headshot.JPG"></i>
    <link rel="stylesheet" href="../css/my_fun_facts.css">
    <script src="../js/my_fun_facts.js"></script>
</head>
<body>

    <h1>Some Fun Facts About Me</h1>
    <Nav>
        <span><a href="../index.html">Homepage</a></span>
        <span><a href="../html/my_resume.html">My Resume</a></span>
        <span><a href="../html/my_fun_facts.html">Fun Facts</a></span>
        <span><a href="./BLOG.html">Blog</a></span>
        <span><a href="../views/Trivia.ejs">Trivia</a></span>
    </Nav>

    <main>
        <section>
            <h3>My Favorite Book</h3>
            <img src="../img/Aviators.jpg" width="10%" alt="">
            <p>Favorite Book: The Aviators - Winston Groom</p>
            <p>I really like this book because I have a fastination with aviation and I love WW2 stories. This book follows three famous aviators and tells there life stories, including their time during WW2.</p>
            <a href="https://www.amazon.com/Aviators-Rickenbacker-Doolittle-Charles-Lindbergh/dp/1426211562">Here is a link to Amazon.com if you would like to buy the book</a>
        </section>

        <section>
            <h3>My Current Favorite Song</h3>
            <p>Song: Let it Happen - Tame Impala</p>
            <audio src="../audio/Tame Impala - Let It Happen (Official Audio).mp3#t=01:30,01:50" controls></audio>
            <a href="https://www.youtube.com/watch?v=-ed6UeDp1ek&ab_channel=TameImpala">Here is a link to a youtube version of the song</a>
        </section>
        
        <section>
            <h3>My Current Favorite Tv Show</h3>
            <p>Favorite Tv Show: Squid Game</p>
            <iframe src="https://www.youtube.com/watch?v=oqxAJKy0ii4&ab_channel=Netflix" frameborder="0">Here is a embedded window of the Youtube trailer</iframe>

        </section>
    </main>

    <footer>
        <p>Rick Dymond, Email: rdymond@oakland.edu</p>
    </footer>
</body>
</html>