<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="shortcut icon" href="../public/img/Ricky Headshot.JPG"></i>
    <link rel="stylesheet" href="../public/css/Trivia.css">
    <script src="../public/js/Trivia.js"></script>
</head>
<body>
    <body>
        <h1>Trivia</h1>
        <Nav>
            <span><a href="../views/index.ejs">Homepage</a></span>
            <span><a href="../views/my_resume.ejs">My Resume</a></span>
            <span><a href="../views/my_fun_facts.ejs">Fun Facts</a></span>
            <span><a href="../views/BLOG.ejs">Blog</a></span>
            <span><a href="../views/Trivia.ejs">Trivia</a></span>
        </Nav>
    
        <main>
            <section id="Question1">
                <h3>Question 1</h3>
                <p id="Question1p">What high school did Rick graduate from?</p>
                <p id="Answers1p">A. Rochester High School, B. Brandon High School, C. Grand Blanc High School, D. Davison High School </p>
            

                <form>
                    <input id="input1" type="text" placeholder="Enter Answer in the form of A, B, C, or D"></form>

                    <button type="submit">Add/Leave a Comment</button>
                </form>
            </section>

            <br>

            <section id="TotalContainer">
                <button id="TotalButton">Click here for point total</button>
            </section>
    
   
    
        <hr>
        <footer id="foot">
            <p>Email: rdymond@oakland.edu</p>
        </footer>
    </body>
    </html>
    
</body>
</html>